<!-- <table class="table table-striped" *ngIf="listadoPacientes != undefined">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Edad</th>
      <th scope="col">DNI</th>
      <th scope="col">Obra Social</th>
      <th scope="col">Email</th>
    </tr>
    <tr  *ngFor="let paciente of listadoPacientes"  (click)="enviarPaciente(paciente)">
      <td>{{paciente!.nombre}}</td>
      <td>{{paciente!.apellido}}</td>
      <td>{{paciente!.edad}}</td>
      <td>{{paciente!.dni}}</td>
      <td>{{paciente!.obraSocial}}</td>
      <td>{{paciente!.email}}</td>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table> -->
<div class="row">
<div class="col" *ngFor="let paciente of listadoPacientes"  (click)="enviarPaciente(paciente)">
  <div class="card" style="width: 10rem; ; margin-bottom: 10px;">
    <img class="card-img-top" [src]="paciente!.imagen1">
    <div class="card-body">
      <p class="card-text"><b>{{paciente!.nombre}} {{paciente!.apellido}}</b></p>
      <p class="card-text">{{paciente!.email}}</p>
    </div>
  </div>
</div>
</div>

