
<div class="col-12" id="pdfTable" #pdfTable>
  <!-- hidden -->
  <h1 >
    <img src="../../../assets/logo.png" style="height: 50px;width: 50px;">
    Médicos Online
  </h1>
 <h3>Mis turnos atendidos</h3>
  <table class="table table-bordered" >
    <tr class="table-primary">
       <th>Fecha</th>
       <th>Especialidad</th>
       <th>Especialista</th>
       <th>Reseña</th>
    </tr>
    <tr *ngFor="let turno of turnosPaciente">

       <td>{{ turno.fecha }} {{turno.hora }}</td>
       <td>{{ turno.especialidad}}</td>
       <td>{{ turno.especialista}}</td>
       <td>
          <div *ngIf="turno.comentariosPaciente != ''">
              Paciente: {{ turno.comentariosPaciente }}
          </div>
          <div *ngIf="turno.comentariosEspecialista != ''">
              Especialista: {{ turno.comentariosEspecialista }}
          </div>
          <div *ngIf="turno.comentariosAdmin != '' || turno.comentariosAdmin != undefined">
              Admin: {{ turno.comentariosAdmin }}
          </div>
      </td>
    </tr>
  </table>
</div>
<button type="button" class="btn btn-danger m-3" appPosicion (click)="crearPdf()">Descargar pdf</button>
