<footer  class="bg-secondary">
  <div class="container py-5">
  <div class="row">
    <div class="col-12 col-md">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mb-2" role="img" viewBox="0 0 24 24"><title style="color: black;">Médicos Online</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
      <small class="d-block mb-3 text-body-secondary">&copy; 1992–2023</small>
    </div>
    <div class="col-6 col-md">
      <h5>Nuestros Planes</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" >Clasico</a></li>
        <li><a class="link-secondary text-decoration-none" >Familiar</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Institucional</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" >Nosotros</a></li>
        <li><a class="link-secondary text-decoration-none" >Sucursales</a></li>
        <li><a class="link-secondary text-decoration-none" >Centros Propios</a></li>
        <li><a class="link-secondary text-decoration-none" >Trabajá con nosotros</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Afiliados</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" >Emergencias</a></li>
        <li><a class="link-secondary text-decoration-none" >Cartilla Online</a></li>
        <li><a class="link-secondary text-decoration-none" >Estudios</a></li>
        <li><a class="link-secondary text-decoration-none" >Descargas</a></li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Datos útiles</h5>
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-decoration-none" >Teléfonos útiles</a></li>
        <li><a class="link-secondary text-decoration-none" >Preguntas frecuentes</a></li>
        <li><a class="link-secondary text-decoration-none" >Contáctenos</a></li>
        <li><a class="link-secondary text-decoration-none" >Control de aportes</a></li>
      </ul>
    </div>

  </div>
</div>
</footer>

